/* Light Mode */
body {
  background-color: #f4f7fc;
  color: #222;
  transition: 0.3s;
}

/* Dark Mode */
body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
  transition: 0.3s;
}

.form-container {
  max-width: 400px;
  margin: auto;
  padding: 30px;
  border-radius: 12px;
  background: white;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

/* Dark form */
body.dark-mode .form-container {
  background: #222;
  color: white;
}

.card-dark {
  background: #1f1f1f !important;
  color: white !important;
}

.card-light {
  background: #fff !important;
  color: #222 !important;
}
